/*
 * style.css
 * Manmeet Gujral
 * CS 52, HW 1
 */

 /* Remove the margin and padding and add a background image */
body {
  margin: 0;
  padding: 0;
  background-image: url("./background_image.jpg");
  background-size: cover;
}
/* Define our flex objects */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-item {

}
