/*
 * style.css
 * Manmeet Gujral
 * CS 52, HW 1
 */

/* Set the font for the entire page */
html {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}

/* Make all links white with same font and no decoration */
a:link {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Make all visited links white with same font and no decoration */
a:visited {
  text-decoration: none;
  color: white;
}

/* Create an option for some links to be faded, like at the bottom of the screen */
a#fade {
  color: rgba(255, 255, 255, 0.6);
}
 /* Set the background and margins for the body */
body {
  margin: 0;
  padding: 0;
  background-image: url("./background_image.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

/* Define a generic inline flex object */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 40px;
}

/* Specific flex box for the nav bar and its relevant code*/
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-start;
}

/* Create a specific unordered list for the navbar */
ul#navbar {
  list-style: none;
}

/* Create a specific unordered list item for the navbar */
ul#navbar li {
  display: inline;
  padding: 9px;
}

/* Create a specific unordered list item link for the navbar */
ul#navbar li a {
    border: 2px solid #d0d0d0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Create a specific unordered list item that WILL NOT
be there when the screen is small through media query for the navbar */
ul#navbar li a#expend {
    border: 2px solid transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Ensure the navbar items will have a hover box when hovered over */
ul#navbar li a#expend:hover {
  border: 2px solid #d0d0d0;
}

/* CSS code for the body */
/* Create a body container to hold our input box and main page text */
.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 140px;
}
/* creating a button inspired by slack's button, did not copy code */
.button {
  background-color: #56b68b;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 12px;
  vertical-align: middle;
}

/* create an input box inspired by slack's, did not copy code */
.input-box {
  font-size: 20pt;
  border-radius: 4px;
  padding: 4px;
  vertical-align: middle;
  border: none;
}

/* Create a color box to hold the text input */
.color-box {
  width: 450px;
  height: 100px;
  margin: 5px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  padding-right: 20px;
  padding-left: 50px;
  padding-top: 45px;
  padding-bottom: 5px;
}

/* footer css */
/* Specific flex box for the bottom bar and its relevant items*/
.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-self: baseline;
}

/* Specific unordered list for the footer */
ul#footer {
  list-style: none;
}

/* Specific unordered list item for the footer bottom bar with the contact info */
ul#footer li#nav {
  display: inline;
  padding: 9px;
}

/* Specific unordered list ite links for the footer bottom bar
 with the contact info */
ul#footer li#nav a {
    border: 2px transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Do not display the bottom box in the large screen */
.bottom-box {
  display: none;
}


/* Media Query Section of the code to adjust the layout
for changed screen size*/
@media only screen and (max-width: 640px) {
  /* Redefine our flex objects */
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 40px;
  }

  /* Change the input box into displaying as a bock to put
  it on top of button */
  .input-box {
    display: block;
    margin: 0 auto;
    align-self: center;
  }

  /* Make the button a block to display below the email text entry and above
  other elements */
  .button {
    display: block;
    margin: 10px auto auto auto;
    align-self: center
  }

  /* Change the size of the color box to fit the mobile screen better */
  .color-box {
    height: 160px;
    justify-content: center;
  }

  /* Change the expendable items to not display on the nav bar, so it only says
  sign in */
  ul#navbar li a#expend {
      display: none;
  }

  /* Ensure that our text in the main entry box appears centered and nice */
  p {
    margin: auto;
    padding: 30px 0px 0px 40px;
  }

  /* Do not display the footer items made on large screen */
  ul#footer li {
    display: none;
  }

  /* Display the bottom boxes to be possible drop down menus, though they are
  not interactive */
  .bottom-box {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 50px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.8);
    padding: 0px 10px 0px 10px;
    border: 1px solid grey;
  }
}
